<div class="row" *ngIf="formLoaded else loadingTemplate">

  <div class="col-sm-8 offset-sm-2">

    <h2>{{ isAddMode ? 'Add Group' : 'Edit Group' }}</h2>

    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name (*)</label>
          <input formControlName="name" class="form-control" id="name"
                 [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }"
                 placeholder="Please enter the group's name">
          <div *ngIf="submitted && form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input formControlName="description" class="form-control" id="description"
                 placeholder="Please enter an optional group description">
        </div>

        <div class="form-group">
          <button [disabled]="savingGroup" class="btn btn-primary">
            <span *ngIf="savingGroup" class="spinner-border spinner-border-sm mr-1"></span>
            <i *ngIf="!savingGroup" class="bi-save mr-1"></i>
            {{ savingGroup ? 'Saving...' : 'Save' }}
          </button>
          <a (click)="goBack()" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <p><span class="spinner-border spinner-border-sm mr-1"></span> Loading, please wait...</p>
</ng-template>
