<a routerLink="/users/new" class="btn btn-sm btn-success mb-2">Add new user</a>

<table class="table table-hover" *ngIf="users$ | async as users else loadingTemplate">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Groups</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>
      <span *ngFor="let group of user.groups; let isLast=last">
        <a href="/groups/{{ group.id }}">{{ group.name }}</a>{{ isLast ? '' : ', ' }}
      </span>
    </td>
    <td>
      <a [routerLink]="['/users/view', user.id]" class="btn btn-primary btn-sm mr-2">View</a>
      <a [routerLink]="['/users/edit', user.id]" class="btn btn-primary btn-sm">Edit</a>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #loadingTemplate>
  <p><span class="spinner-border spinner-border-sm mr-1"></span> Loading, please wait...</p>
</ng-template>
